<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="KTCTC">
  <test thread-count="4" name="Regression" parallel="classes">
    <classes>
      <class name="assertions.SoftAssertionInTestNG"/>
      <class name="enable.EnableClass"/>
      <class name="annotations.testng.AnnotationInTestNG"/>
      <class name="dependent.Dependent"/>
      <class name="annotations.testng.AnnotationInTestNG2"/>
      <class name="excelreader.AnnoTations"/>
      <class name="invocation.Invocation"/>
      <class name="ktctc.FirstMavenProject.AppTest"/>
      <class name="priority.PriorityInTestNG"/>
      <class name="assertions.AssertionInTestNG"/>
    </classes>
  </test> <!-- Regression -->
</suite> <!-- KTCTC -->
